<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand" href="/">
               <img src="~/images/logo-gw.png" alt="Thomas Guest Music" width="110">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
               <i class="bi bi-list" id="menuIcon"></i>
            </button>

            <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
               <div class="nav-wrapper">
                  <ul class="navbar-nav mb-2 mb-lg-0">
                     <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                     <li class="nav-item"><a class="nav-link" href="/Events">Events</a></li>
                     <li class="nav-item"><a class="nav-link" href="/Music">Music</a></li>
                     <li class="nav-item"><a class="nav-link" href="/About">About</a></li>
                  </ul>

                  <div class="navbar-socials">
                     <a class="nav-link" href="@Constants.SocialLinks.Instagram" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-instagram"></i>
                     </a>
                     <a class="nav-link" href="@Constants.SocialLinks.Facebook" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-facebook"></i>
                     </a>
                     <a class="nav-link" href="@Constants.SocialLinks.TikTok" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-tiktok"></i>
                     </a>
                     <a class="nav-link" href="@Constants.SocialLinks.YouTube" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-youtube"></i>
                     </a>
                     <a class="nav-link" href="@Constants.SocialLinks.Spotify" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-spotify"></i>
                     </a>
                     <a class="nav-link" href="@Constants.SocialLinks.YouTubeMusic" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-youtube-music"></i>
                     </a>
                  </div>
               </div>
            </div>
        </div>
    </nav>
</header>